<!DOCTYPE html>
<html>
<head>
    <title>Загрузка XML</title>
</head>
<body>
    <form id="upload-form" action="/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="xml_file">
        <button type="submit">Загрузить</button>
    </form>
    <div id="status"></div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/upload/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    document.getElementById('status').innerText = 'Файл успешно загружен!';
                } else {
                    document.getElementById('status').innerText = 'Ошибка: ' + data.message;
                }
            })
            .catch(error => {
                document.getElementById('status').innerText = 'Ошибка: ' + error;
            });
        });
    </script>
</body>
</html>